.sign {
  box-sizing: border-box;
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(135deg, #ffffffaa, transparent);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 10px var(--gray-5);
  border-top: 1px solid var(--white);
  color: var(--gray-2);
}

.sign__title {
  font-weight: bold;
  font-size: 1.4rem;
}

.sign__input-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.sign__input-container:first-of-type {
  margin-top: 1.5rem;
}
.sign__label {
  color: var(--gray-3);
  font-size: 0.8rem;
}

.sign__input {
  margin-top: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
}

.sign__input--error {
  border: 1px solid var(--danger);
}

.sign__input:focus {
  outline: 2px solid var(--primary);
  border: 1px solid var(--primary);
}

.sign__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.sign__button {
  box-sizing: border-box;
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0rem;
  text-align: center;
  transition: all 200ms;
  margin-left: 0.5rem;
  color: var(--white);
  box-shadow: 0 0 5px var(--primary-dark);
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  min-width: 100px;
  width: 100%;
  max-width: 200px;
}

.sign__button:focus {
  transform: scale(1.05);
  background-color: var(--primary-light);
  outline: 2px solid var(--primary);
}

.sign__button:hover {
  transform: scale(1.05);
  background-color: var(--primary-light);
}

.sign__button:active {
  transform: scale(0.99);
  box-shadow: none;
  background-color: var(--primary-dark);
}

.sign__links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.sign__link {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
  transition: all 150ms;
  font-weight: bold;
}

.sign__link:hover {
  text-decoration: underline;
}

.sign__link:visited {
  color: var(--primary-dark);
}

.sign__error {
  font-size: 0.7rem;
  color: var(--danger);
  margin-top: 0.2rem;
  line-height: 0.8rem;
  min-height: 0.7rem;
  white-space: pre-wrap;
}

@media only screen and (max-width: 480px) {
  .sign {
    min-width: 200px;
    width: 90%;
    padding: 1.2rem 0.8rem;
  }

  .sign__title {
    font-size: 1.2rem;
  }

  .sign__button {
    max-width: 100%;
  }
}
